*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* overflow: hidden; */
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    105deg,
    rgba(0, 61, 100, 1) 13.6%,
    rgba(47, 127, 164, 1) 49.4%,
    rgba(30, 198, 198, 1) 93.3%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  animation: moveGradient 10s ease-in-out infinite;
  background-size: 200% 200%;
}

:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wip {
  text-align: center;
  font-size: 3rem;
  transform: translateY(10rem);
}