:root {
  --logo-size: 3.5rem;
  --bdr: 2rem;
  --badge-dim: 20px;
}

.branding {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.logo {
  padding: 10px 10px 10px 50px;
  height: var(--logo-size);
  width: var(--logo-size);
}

.brand {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.no-decor, .decor {
  text-decoration: none;
  color: white;
}

.Navbar {
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
  position: absolute;
  margin-left: 38vw;
}

.tab {
  margin-top: 1.65rem;
  margin-left: 2.25rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.search {
  border-radius: var(--bdr);
  border: none;
  width: 20rem;
  height: 2.5rem;
  margin: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.search::placeholder {
  text-align: left;
}

.cart-icon {
  position: absolute;
}

.cartico {
  transform: scale(0.35) translate(-70%, -100%);
}

.cart-badge {
  font-size:x-small;
  font-family: 'Times New Roman', Times, serif;
}

.badge-bg {
  background-color: red;
  height: var(--badge-dim);
  width: var(--badge-dim);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transform: translate(390%, -195%)
}

